/* Colors */

$aqua: rgb(80,227,194);
$white: rgb(255,255,255);
$gray-dk: rgb(34,34,34);
$gray-lt: rgb(204,204,204);
$gray-fa: rgb(245,245,245);
$shadow-blur: rgba(0,0,0,0.25);
$shadow-block: rgba(0,0,0,0.1);
$error: rgb(250,125,125);

$small: "screen and (max-width: 480px)";


@mixin karla {
  font-family: "Karla", Arial, sans-serif;
  font-weight: 700;
  color: $gray-dk;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  @include karla;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}
nav {
  position: fixed;
  top: 2%;
  right: 2%;
  a {
    color: $aqua;
    border-bottom: 2px solid $aqua;
  }
}
video {
  width: 100%;
  height: auto;
}
.ben-overlay {
  position: absolute;
  top: 28px;
  left: 0;
}
.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/fuzz.jpg");
  background-size: cover;
  @include animation(wave 30s infinite alternate);
}
.banner {
  height: 100%;
  margin-left: 12%;
  display: table;
  vertical-align: middle;
  &.half-height {
    height: 50%;
  }
}
.center {
  display: table-cell;
  vertical-align: middle;
}
.card {
  padding: 4.25em 2.375em 4.375em 2.25em;
  margin-bottom: 3em;
  background: white;
  width: 200px;
  @include box-shadow(6px 6px 0px $aqua, 6px 6px 12px $shadow-blur);
  @include transition(all 200ms ease);
  @include animation(fadein 1.5s);
}
.card:hover {
  background-color: $aqua;
  box-shadow: 6px 6px 0px $gray-dk, 6px 6px 12px $shadow-blur;
}
.logo {
  margin-bottom: 3em;
}
.logo:hover {
  @include animation(rotate 1s);
  cursor: none;
}
.contact {
  display: inline-block;
  margin-top: 3em;
  color: $gray-dk;
  text-decoration: none;
  padding: 0.375em 0.5em;
  border: 1px solid $gray-dk;
  @include transition(all 200ms ease-out);
}
.contact:hover {
  color: $aqua;
  background-color: $gray-dk;
}
h1, h2, p, a {
  font-size: 0.875em;
  margin: 0;
}
a {
  color: $gray-dk;
  text-decoration: none;
  border-bottom: 2px solid $gray-dk;
  @include transition(all 200ms ease-out);

}
@include keyframes(wave) {
  from {
    @include scale(1);
  }
  to {
    @include scale(1.1);
  }
}
@include keyframes(fadein) {
  from {
    @include opacity(0);
  }
  to {
    @include opacity(1);
  }
}

@include keyframes(rotate) {
  from {
    @include rotateY(0deg);
  }
  to {
    @include rotateY(360deg);
  }
}
.content {
  background: $white;
}
.project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6em 8.3984375%;
}
.image {
  max-width: 1600px;
  text-align: center;
}
.device {
  .desktop, .phone {
    position: relative;
    @include box-shadow(6px 6px 0px $shadow-block);
  }
  .desktop {
    border: 6px solid $gray-lt;
    padding-top: 28px;
    background: url("../images/buttons.svg") no-repeat top left $gray-lt;
  }
  .phone {
    margin: 0 auto;
    max-width: 244px;
    border: 6px solid $gray-dk;
    padding: 44px 0;
    background: $gray-dk;
    @include border-radius(18px);
  }
}
.form {
  @extend .project;
  background-color: $aqua;
  hgroup {
    margin-bottom: 4em;
  }
  h2 {
    font-size: 1.75em;
  }
}
.form-item {
  margin-bottom: 1.75em;
}
label {
  display: block;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  @media #{$small} {
    font-size: 1em;
  }
}
input[type="text"],
input[type="email"],
textarea {
  @include karla;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1.25em;
  border: none;
  border-bottom: 7px solid $gray-dk;
  background-color: rgba(0,0,0,0.02);
  @include transition(background-color 400ms ease, border 200ms ease);
  &:focus {
    outline: none;
    background-color: rgba(255,255,255,0.1);
  }
  &.error {
    border-bottom: 7px solid $error;
  }
}
/* Disable ugly yella -webkit autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #4EDEBE inset;
}
button {
  @include karla;
  padding: 1em 2em;
  border: 7px solid $gray-dk;
  background-color: rgba(0,0,0,0.02);
  @include transition(background-color 200ms ease);
  &:hover {
    background-color: rgba(255,255,255,0.1);
  }
  &:focus {
    outline: none;
  }
}
.alert {
  margin-top: 1em;
}
