/* Colors */

$aqua: #7FFFD4;
$gray: #222222;
$shadow: rgba(0,0,0,0.25);

body {
  font-family: "Karla", Arial, sans-serif;
  font-weight: 700;
  color: $gray;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}
.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/fuzz.jpg");
  background-size: cover;
  @include animation(wave 30s infinite alternate);
}
.banner {
  height: 100%;
  margin-left: 12%;
  display: table;
  vertical-align: middle;
}
.center {
  display: table-cell;
  vertical-align: middle;
}
.card {
  padding: 4.25em 2.375em 4.375em 2.25em;
  margin-bottom: 3em;
  background: white;
  @include box-shadow(6px 6px 0px $aqua, 6px 6px 12px $shadow);
  @include transition(all 200ms ease);
  @include animation(fadein 1.5s);
}
.card:hover {
  background-color: $aqua;
  box-shadow: 6px 6px 0px $gray, 6px 6px 12px $shadow;
}
.logo {
  margin-bottom: 3em;
}
.logo:hover {
  @include animation(rotate 1s);
  cursor: none;
}
.contact {
  display: inline-block;
  margin-top: 3em;
  color: $gray;
  text-decoration: none;
  padding: 0.375em 0.5em;
  border: 1px solid $gray;
  @include transition(all 200ms ease-out);
}
.contact:hover {
  color: $aqua;
  background-color: $gray;
}
h1, h2, p, a {
  font-size: 0.875em;
  margin: 0;
}
@include keyframes(wave) {
  from {
    @include scale(1);
  }
  to {
    @include scale(1.1);
  }
}
@include keyframes(fadein) {
  from {
    @include opacity(0);
  }
  to {
    @include opacity(1);
  }
}

@include keyframes(rotate) {
  from {
    @include rotateY(0deg);
  }
  to {
    @include rotateY(360deg);
  }
}