/* Colors */

$blue: #0000FF;
$aqua: #7FFFD4;

body {
    font-family: 'Karla', sans-serif;
}
.box {
    position: absolute;
    top: 50%;
    margin-top: -10em;
    padding: 1em;
    max-width: 580px;
}
.greeting {
}
.email {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $aqua;
    @include transition(transform 350ms ease-out);
}
.closed {
    @include transform(translateX(-100%));
}
h1, p {
    line-height: 1.4;
    font-size: 1em;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: $blue;
    @include transition(color 200ms ease-out);
}
a:hover {
    color: darkblue;
}
.content {
}
@media screen and (min-width: 769px) {
    body {
        font-size: 200%;
    }
    .box {
        padding: 2em 13%
    }
    h1, p {
        line-height: 1.4;
        font-size: 1em;
        font-weight: 400;
    }
}